@import "../../styles/global/variables";

.container__Left,
.container__Right {
  width: 100%;
  height: 52%;
  display: flex;

  @media only screen and (min-width: $tablet) {
    height: 550px;
  }
}

.container__Left {
  flex-direction: column-reverse;
  margin-top: 50px;

  @media only screen and (min-width: $tablet) {
    flex-direction: row;
    margin: 0;
  }
}

.container__Right {
  flex-direction: column-reverse;
  margin-top: 50px;

  @media only screen and (min-width: $tablet) {
    flex-direction: row-reverse;
    margin: 0;
  }
}

.details__Container,
.image__Container {
  width: 100%;
  height: 100%;

  @media only screen and (min-width: $tablet) {
    width: 50%;
  }
}

.image__Container {
  background-color: $background-light;
}

.details__Container {
  background-color: $background-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding-bottom: 50px;
  padding-top: 20px;
  @media only screen and (min-width: $tablet) {
    padding-bottom: 0px;
    padding-top: 0px;
  }
}

.body__Container,
.title__Container {
  margin: 0px 0px 0px 0px;
  width: 90%;
  @media only screen and (min-width: $tablet) {
    width: 80%;
  }
  @media only screen and (min-width: $laptopL) {
    width: 70%;
  }
}

.card__Image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(90%);
}
