@import "../../styles/global/variables";
@import "../../styles/global/mixins";

.card_borderRight,
.card_borderLeft {
  @include card-border;
}
.borderRight {
  @media only screen and (min-width: $tablet) {
    border-top-right-radius: 22px !important;
    border-bottom-right-radius: 22px !important;
  }
}
.borderLeft {
  @media only screen and (min-width: $tablet) {
    border-top-left-radius: 22px !important;
    border-bottom-left-radius: 22px !important;
  }
}

.card,
.cardLeft {
  margin-top: 150px;
  padding-bottom: 40px;
  transition: 0.5s;
  @media only screen and (min-width: $tablet) {
    margin-top: 148px;
    display: flex;
    transition: 0.5s;
    justify-content: space-between;
    padding: 20px 0 80px 0;
  }
  &_image {
    order: 1;
    height: 260px;
    @media only screen and (min-width: $tablet) {
      height: 300px;
      width: 50%;
      margin-right: 10px;
    }
    @media only screen and (min-width: $desktop) {
      height: 361px;
      max-width: 700px;
      width: 100%;
      margin-right: 40px;
    }
    & > img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(80%);
    }
  }
  &_information {
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 2;

    @media only screen and (min-width: $tablet) {
      width: 50%;
      justify-content: center;
      padding-right: 10px;
      text-align: start;
      padding: 0 20px;
      margin-bottom: 15px;
    }

    @media only screen and (min-width: $desktop) {
      max-width: 530px;
      margin: 0 auto;
      margin-bottom: 0;
      margin-left: 5%;
    }
    @media only screen and (min-width: $laptopL) {
      max-width: 530px;
      margin: 0 auto;
      margin-bottom: 0;
      margin-left: 15%;
    }

    & > span,
    & > p {
      font-weight: 400;
    }
    & > span {
      font-family: $title-font;
      font-size: 60px;
      line-height: 70px;

      @media only screen and (min-width: $tablet) {
        font-size: 50px;
      }
    }
    & > p {
      font-family: $body-font;
      font-size: 16px;
      line-height: 24px;
      padding: 0 20px;
      @media only screen and (min-width: $tablet) {
        font-size: 16px;
        padding: 0;
      }
    }
    & > button {
      width: 100px;
      height: 30px;
      background-color: $pink-accent;
      font-family: $body-font;
      font-weight: 600;
      outline: none;
      border: none;
      border-radius: 10px;
      color: white;
      align-self: center;
      margin-top: 30px;

      @media only screen and (min-width: $tablet) {
        align-self: unset;
      }
    }
  }
  &_underline {
    height: 3px;
    width: 80px;
    background: $pink-accent;
    margin: 0 auto;
    margin-top: 40px;
    @media only screen and (min-width: $tablet) {
      margin: 0;
      margin-top: 30px;
    }
  }
}
.cardLeft {
  padding: 0 !important;
  .card_information {
    order: 1 !important;
    @media only screen and (min-width: $tablet) {
      width: 45%;
      justify-content: center;
      padding-right: 10px;
      padding-left: 10px;
      text-align: start;
      margin-bottom: 0;
      padding-left: 20px;
      & > span {
        line-height: 70px;
      }
    }
    @media only screen and (min-width: $desktop) {
      margin-left: 5%;
    }
    @media only screen and (min-width: $laptopL) {
      margin-left: 15%;
    }
  }

  .card_image {
    order: 2 !important;
    margin-right: 0;
    @media only screen and (min-width: $tablet) {
      margin-left: 10px;
      width: 50.5%;
    }

    & > img {
      padding: 0 !important;
      margin-left: auto !important;
      filter: brightness(80%);
    }
  }
}

.noDisplay {
  display: none;
}

.moreInfoContainer {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  z-index: 1;
  background-color: white;
  border-radius: 40px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  @media only screen and (min-width: $tablet) {
    margin-left: 60px;
    margin-right: 60px;
  }

  & > button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-color: $pink-accent;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
  }

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > h1 {
      font-family: $title-font;
      font-size: 60px;
      margin-bottom: 50px;
      margin-top: 30px;
    }
    & > p {
      text-align: center;
      padding: 0 20px 0;
      font-family: $body-font;
      margin-bottom: 40px;
    }
    & > span {
      height: 3px;
      width: 70%;
      background: $pink-accent;
      margin: auto;
      margin-bottom: 40px;
      @media only screen and (min-width: $tablet) {
        margin: 0;
        margin-bottom: 40px;
        margin-top: 30px;
      }
    }
  }
}

.video {
  object-fit: cover;
  width: 100%;
  transition: 0.5s;
  filter: brightness(80%);

  @media only screen and (min-width: $tablet) {
    height: 500px;
    width: 500px;
    transition: 0.5s;
  }
}
