@import "../../styles/global/variables";
@import "../../styles/global/mixins";

.productAmount {
  display: flex;
  flex-direction: row;
  & > button {
    background-color: $pink-accent;
    width: 20px;
    height: 20px;
    outline: none;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  & > p {
    font-family: $body-font;
    margin: 0 20px 0 20px;
  }
}

.productImage {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 25px;
  text-align: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.productInfo {
  padding-top: 5%;
  text-align: center;
  max-width: 240px;
  & > h1 {
    font-family: $title-font;
    font-size: 35px;
  }
  & > p {
    font-family: $body-font;
    font-size: 12px;
    font-weight: 600;
    overflow-wrap: break-word;
  }
  & > :nth-child(1) {
    font-size: 40px;
    color: $pink-accent;
  }
}

.productDetails {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  margin: 50px;
}

.productControls {
  display: flex;
  width: 100%;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

.sizeSelect {
  margin-top: 20px;
  background-color: #d9d9d9;
  border: none;
  border-radius: 6px;
  outline: none;
  box-sizing: border-box;
}

.addToCart {
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: $pink-accent;
  width: 100px;
  height: 20px;
  outline: none;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
