@import "../../styles/global/variables";

.displayNone {
  display: none;
}

.container {
  background-color: $background-light;
  border-radius: 18px;
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.container h1 {
  font-weight: 800;
  font-size: 32px;
  color: $accent-dark;
  text-transform: uppercase;
}

.container p,
.container h1 {
  margin: 0;
  font-family: $body-font;
  line-height: 102.4%;
  letter-spacing: -0.035em;
}

.container p,
.input__Container input {
  font-weight: 500;
  font-size: 14px;
  color: #858585;
}

.details__Container h1 {
  margin-top: 20px;
}

.title__Container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.title__Container svg {
  margin-left: 10px;
  cursor: pointer;
}

.event__Description {
  transition: 0.5;
  width: 70%;
  border: none;
  background-color: $background-light;
  border-radius: 15px;

  @media only screen and (min-width: $tablet) {
    width: 30%;
  }

  :nth-child(2) {
    display: flex;
    margin-top: 10px;
    align-items: flex-start;
    justify-content: space-between;
    :nth-child(2) h1 {
      margin-left: 10px;
      user-select: none;
      cursor: pointer;
    }
  }
}

.event__Description::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

.event__Container {
  display: flex;
  flex-direction: column;
  margin: 32px;
  width: 90%;
  @media only screen and (min-width: $tablet) {
    flex-direction: row;
  }
}
.event__Container__Right {
  display: flex;
  flex-direction: column;
  margin: 32px;
  width: 90%;
  @media only screen and (min-width: $tablet) {
    flex-direction: row-reverse;
  }
}

.event__Details {
  @media only screen and (min-width: $tablet) {
    width: 40%;
    margin: auto;
  }
}

.image__Container {
  @media only screen and (min-width: $tablet) {
    width: 50%;
  }
}

.event__Image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 15px;

  @media only screen and (min-width: $tablet) {
    height: 100%;
  }
}

.event__Location p,
.event__Time p {
  margin-left: 13px;
}

.counter button,
.input__Container button,
.checkout__Container button {
  cursor: pointer;
}

.event__Location,
.event__Time {
  margin: 10px 0px 10px 0px;
}

.input__Container input {
  -webkit-appearance: none;
  outline: none;
  border: none;
  background-color: none;
  background: $background-dark;
}

.input__Container button,
.confirm__Button__Greyed {
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  color: $background-dark;
  font-family: $body-font;
  margin-right: 5px;
}

.input__Container button {
  background-color: $accent-dark;
  pointer-events: all;
}
.confirm__Button__Greyed {
  background-color: #858585 !important;
  text-decoration: line-through;
  pointer-events: none;
}

.pricing__Container {
  margin: 5px 0px 10px 0px;
}

.pricing__Adult,
.pricing__Child {
  margin: 20px 0px 0px 0px;
}

.pricing__Child p,
.pricing__Adult p,
.total__Container p {
  margin-left: 5px;
}

.pricing__Child p,
.pricing__Adult p {
  margin-right: 45px;
}

.event__Time,
.event__Location,
.pricing__Child,
.pricing__Adult,
.counter,
.input__Container,
.total__Container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.counter {
  background-color: $background-dark;
  width: 101.75px;
  height: 32.05px;
  align-items: center;
  justify-content: space-around;
}
.counter button {
  border: none;
  outline: none;
  background-color: transparent;
  color: $accent-dark;
  font-family: $body-font;
}

.counter p,
.counter button {
  color: $accent-dark;
  font-weight: 800;
  font-size: 20px;
  line-height: 102.4%;
  letter-spacing: -0.035em;
  margin: 0px;
}

.input__Container {
  background-color: $background-dark;
  border-radius: 5px;
  height: 32.05px;
  margin-top: 11px;
  justify-content: space-between;
  align-items: center;
}

.names__Container {
  margin-top: 46px;
}

.checkout__Container button,
.button__Greyed {
  font-family: $body-font;
  border-radius: 9px;
  border: none;
  font-weight: 800;
  font-size: 16px;
  width: 176.26px;
  height: 36.05px;
}

.checkout__Container button {
  background: $accent-dark;
  color: $background-dark;
}

.button__Greyed {
  background: #858585 !important;
  text-decoration: line-through;
  pointer-events: none;
}

.checkout__Container {
  height: 90.53px;
  background-color: $background-dark;
  border-radius: 19px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 52px;
}
