@import "../../styles/global/variables";

.container {
  width: 100%;
  height: 300px;
  background-color: $accent-dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container h1 {
  color: $background-dark;
}

.title__Container {
  text-align: center;
  width: 80%;
}

.socials__Container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
}
