@import "../../styles/global/variables";

.container {
  height: 300px;
  @media only screen and (min-width: $tablet) {
    height: 622px;
  }
}

.container,
.container__Important {
  max-width: 140px;
  background-color: #00a0fa;
  flex-direction: column-reverse;
  font-family: $body-font;
  @media only screen and (min-width: $tablet) {
    max-width: 287px;
  }
}

.container__Important {
  height: 350px;
  @media only screen and (min-width: $tablet) {
    height: 800px;
  }
}

.package__Name,
.package__PerChild,
.options {
  color: #00a0fa;
}

.inner__Container,
.title__Container,
.container,
.options__Container,
.container__Important {
  border-radius: 25px;
  display: flex;
  @media only screen and (min-width: $tablet) {
    border-radius: 54px;
  }
}

.inner__Container {
  background-color: $background-light;
  height: 98%;
  box-shadow: 20px 28px 68px 17px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.title__Container {
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.package__Name {
  margin-top: 20px;
  margin-bottom: 0px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 13px;
  line-height: 102.44%;
  text-align: center;
  letter-spacing: -0.035em;

  @media only screen and (min-width: $tablet) {
    font-size: 36px;
  }
}

.package__Alt {
  font-weight: 600;
  font-size: 6px;
  line-height: 102.4%;
  text-align: center;
  letter-spacing: -0.035em;
  color: white;
  width: 112px;
  @media only screen and (min-width: $tablet) {
    font-size: 16px;
  }
}

.pricing__Container {
  border-bottom: 3px solid #00a0fa;
  width: 86%;
}

.package__Price,
.package__PerChild {
  margin: 0px;
}

.package__Price {
  font-weight: 800;
  font-size: 20px;
  line-height: 102.4%;
  color: white;
  @media only screen and (min-width: $tablet) {
    font-size: 40px;
  }
}

.package__PerChild {
  font-size: 6px;
  margin-bottom: 3px;
  font-weight: bolder;
  @media only screen and (min-width: $tablet) {
    font-size: 12px;
  }
}

.options__Container {
  flex-grow: 0.4;
  flex-direction: row;
  width: 90%;
}

.options {
  display: flex;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  font-weight: 700;
  font-size: 6px;
  flex-wrap: wrap;
  align-content: center;
  @media only screen and (min-width: $tablet) {
    font-size: 12px;
  }

  & > * {
    margin-top: 20px;
  }
}

.enquire__Button {
  width: 70px;
  height: 13px;
  background-color: #00a0fa;
  border: none;
  border-radius: 12px;
  font-weight: 700;
  font-size: 8px;
  color: $background-light;
  @media only screen and (min-width: $tablet) {
    font-size: 13px;
    width: 167.97px;
    height: 27.54px;
  }
}
