@import "../../styles/global/variables";

.container {
  width: 100%;
  height: 0px;
  overflow: visible;
  z-index: 1;
}

.left,
.right {
  display: none;

  @media only screen and (min-width: $tablet) {
    width: 300px;
    height: 30px;
    background-color: $accent-light;
    display: block;
  }
}

.left {
  margin-left: 10%;
  transform: rotate(45deg);
}

.right {
  margin-left: 70%;
  transform: rotate(-45deg);
}
