@import "../../styles/global/variables";
@import "../../styles/global/mixins";

.heroContainer {
  width: 100%;
  outline: none;
}

.hero {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  transition: 0.5s;
  filter: brightness(80%);

  @media only screen and (min-width: $tablet) {
    height: unset;
    max-height: 100vh;
    transition: 0.5s;
  }
}

.hero:focus {
  outline: none;
}
