@import "../../styles/global/variables";

.heroContainer {
  height: 100vh;
  width: 100%;
  outline: none;
  z-index: 0;
  display: flex;
}

.video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.video:focus {
  outline: none;
}
