@import "../../styles/global/variables";
@import "../../styles/global/mixins";

.titleContainer {
  width: 100%;
  text-align: center;

  & > h1 {
    font-family: $title-font;
    font-size: 60px;
    margin: auto;
    margin-top: 40px;
    @media only screen and (min-width: $tablet) {
      font-size: 90px;
    }
  }
}
