@import "../../styles/global/variables";
@import "../../styles/global/mixins";

.shopContainer {
  margin-top: 150px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex-direction: row;
  align-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 50px;
}

.comingSoon {
  font-family: $title-font;
  font-size: large;
}
