@font-face {
  font-family: "Katy-Berry";
  src: url("../../public/fonts/kberry.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Italic";
  src: url("../../public/fonts/Montserrat-Italic-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}
