// Typography

// Fonts

$title-font: "Katy-Berry", sans-serif;
$body-font: "Montserrat", sans-serif;

// Border (for debugging UI)
$border: 1px red solid;

// Colors
$pink-accent: #d348d6;

// Breakpoints
$mobile: 500px;
$tablet: 768px;
$tablet-large: 960px;
$laptop: 1024px;
$laptopL: 1442px;
$desktop: 1080px;
