// Typography

$title-large: 96px;
$title-large-mobile: 44px;
$title-small: 65px;
$title-small-mobile: 46px;
$button: 20px;
$button-mobile: 18px;
$body: 18px;
$body-mobile: 16px;

// Fonts

$body-font: "Montserrat", sans-serif;

// Border (for debugging UI)
$border: 1px red solid;

// Colors
$accent-light: #da96e0;
$accent-dark: #cf21ec;
$background-dark: #181318;
$background-light: #281f28;

// Breakpoints
$mobile: 500px;
$tablet: 768px;
$tablet-large: 960px;
$laptop: 1024px;
$laptopL: 1442px;
$desktop: 1080px;
