// Typography

// Fonts

$body-font: "Montserrat", sans-serif;

// Border (for debugging UI)
$border: 1px red solid;

// Colors
$accent-light: #da96e0;
$accent-dark: #cf21ec;
$background-dark: #010005;
$background-light: #0e0b10;

// Breakpoints
$mobile: 500px;
$tablet: 768px;
$tablet-large: 960px;
$laptop: 1024px;
$laptopL: 1442px;
$desktop: 1080px;
