@import "../../styles/global/variables";

.container {
  transition: 0.5s;
  z-index: 1;
  position: fixed;
  min-width: 100%;
  max-height: 80px;
  background-color: rgba(0, 0, 0, 0.17);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-top: 10px;
  max-width: 10%;
  height: 100%;
  object-fit: cover;
  margin-left: 20px;
}

.links {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 50%;

  > * {
    color: $accent-dark;
  }
}

.button {
  height: 80px;
  width: 10%;
  background-color: $accent-dark;
  color: $background-dark;
  font-size: 20px;
  border: none;
}

.button,
.links {
  font-family: $body-font;
  font-weight: bold;
}
