@import "../../styles/global/variables";

.button {
  height: 30px;
  outline: none;
  border: none;
  font-family: $body-font;
  font-size: $button-mobile;
  font-weight: bold;
  color: $background-dark;
  min-width: 50px;
  background-color: $accent-dark;
  margin-right: 5px;
  cursor: pointer;

  @media only screen and (min-width: $tablet) {
    height: 60px;
    min-width: 200px;
    font-size: $button;
  }
}

.noDisplay {
  display: none;
}
