@import "../../styles/global/variables";

.button {
  height: 70px;
  outline: none;
  border: none;
  font-family: $body-font;
  font-size: $button;
  font-weight: 600;
  color: $background-dark;
  width: 200px;
  background-color: $accent-dark;
  margin-right: 5px;
}
