@import "../../styles/global/variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

.container h1 {
  text-align: center;
}

.noDisplay {
  display: none;
}

.date__Container {
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translate(0px, -50px);
  }
  100% {
    opacity: 1;
  }
}

.container form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form__Container {
  width: 80%;
}

.input__Container label {
  line-height: 102.4%;
  letter-spacing: -0.035em;
  font-weight: 500;
  font-size: 15px;
  color: white;
  margin-bottom: 3px;
  width: 100%;
  align-self: flex-start !important;
}

.input__Container input::-webkit-calendar-picker-indicator {
  filter: invert(35%) sepia(79%) saturate(3382%) hue-rotate(272deg)
    brightness(86%) contrast(124%);
}

.input__Container,
.date__Container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0px;
  width: 100%;
}

.input__Container {
  margin-top: 20px;
}

.input__Container input,
.input__Container textarea,
.input__Container select {
  font-family: $body-font;
  background-color: $background-dark;
  border: none;
  border-radius: 4px;
  color: $accent-dark;
  line-height: 102.4%;
  letter-spacing: -0.035em;
  font-weight: 500;
  font-size: 15px;
}

.input__Container input,
.input__Container select {
  height: 25px;
}

.input__Container textarea {
  height: 150px;
  resize: none;
}

.input__Container textarea:focus,
.input__Container input:focus,
.input__Container select:focus {
  outline-color: $accent-dark;
}

.form__Success {
  color: green;
  animation: alert 0.5s ease forwards;
}

.form__Failure {
  color: red;
  animation: alert 0.5s ease forwards;
}

@keyframes alert {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.container button {
  color: $background-dark;
  width: 50%;
  height: 36.05px;
  font-weight: 800;
  font-size: 16px;
  border: none;
  border-radius: 9px;
  line-height: 102.4%;
  text-align: center;
  letter-spacing: -0.035em;
  background-color: $accent-light !important;
  align-self: center;
  margin-top: 40px;
}
