@import "/styles/global/variables";

html,
body {
  min-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: $background-dark;
}

main {
  display: flex;
  flex-direction: column;
}

// * {
//   border: 1px solid;
//   border-color: red;
// }
