html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  ::-webkit-scrollbar {
    background: transparent;
    width: 0px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 15px;
    width: 5px;
    background: #d348d6;
  }
}

.swiper-pagination-bullet-active {
  background-color: #d348d6 !important;
}

.swiper-button-prev {
  color: #d348d6 !important;
}

.swiper-button-next {
  color: #d348d6 !important;
}

// * {
//   outline: 1px solid red;
// }
