@import "/styles/global/variables";

html,
body {
  min-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: $background-dark;
  font-family: $body-font;
}

main {
  display: flex;
  flex-direction: column;
}

// * {
//   border: 1px solid !important;
//   border-color: red !important;
// }

* {
  transition: 0.5s;
}
