@import "../../styles/global/variables";

.container,
.container__Spacer {
  width: 100%;
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container__Spacer {
  margin-bottom: 300px;
}

.about__Container {
  margin-left: 10%;
  width: 70%;

  @media only screen and (min-width: $tablet) {
    width: 40%;
  }
}

.title__Container {
  width: 100%;

  @media only screen and (min-width: $tablet) {
    width: 600px;
  }
}
